<div class="mobile-menu-container" id="mobile_menu_container">
    <button class="mobile-menu-close-btn" id="mobile_menu_close_btn">
        <i class="fas fa-times"></i>
    </button>
    <nav class="mobile-nav">
        <ul class="mobile-menu">
            <li class="menu-item">
                <a href="#">
                    <div>Jeans</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <div>Hats</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <div>Jackets</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <div>Dresses</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <div>Sneakers</div>
                </a>
            </li>
            <li class="menu-item font-weight-bold">
                <a href="{{ path('app_login') }}">
                    <div>Login</div>
                </a>
            </li>
            <li class="menu-item font-weight-bold">
                <a href="#">
                    <div>Cart</div>
                </a>
            </li>
        </ul>
    </nav>
</div>
<header class="header">
    <div class="container-fluid">
        <button class="mobile-menu-toggler" id="mobile_menu_toggler">
            <i class="fas fa-bars"></i>
        </button>

        <a href="#" class="logotype">
            <img src="{{ asset('build/images/icons/logo_366x79.svg') }}" alt="RankedChoice Logotype">
        </a>
        <nav class="main-nav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">
                        <div>Jeans</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#">
                        <div>Hats</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#">
                        <div>Jackets</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#">
                        <div>Dresses</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#">
                        <div>Sneakers</div>
                    </a>
                </li>

                <li class="menu-item font-weight-bold">
                    <a href="{{ path('app_login') }}">
                        <div>Login</div>
                    </a>
                </li>
                <li class="menu-item font-weight-bold">
                    <a href="#">
                        <div>Cart</div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>