{% extends 'site/base.html.twig' %}

{% block title %}Edit Product{% endblock %}
{% block page_keywords %}Jeans, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('site/product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_site_product_index') }}">back to list</a>

    {{ include('site/product/_delete_form.html.twig') }}
{% endblock %}
