{% extends 'site/base.html.twig' %}

{% block title %}New Product{% endblock %}
{% block page_keywords %}Jeans, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}

{% block body %}
    <h1>Create new Product</h1>

    {{ include('site/product/_form.html.twig') }}

    <a href="{{ path('app_site_product_index') }}">back to list</a>
{% endblock %}
