{% extends 'site/base.html.twig' %}

{% block title %}Product{% endblock %}
{% block page_keywords %}Jeans, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>IsPublished</th>
                <td>{{ product.isPublished ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsDeleted</th>
                <td>{{ product.isDeleted ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_site_product_index') }}">back to list</a>

    <a href="{{ path('app_site_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('site/product/_delete_form.html.twig') }}
{% endblock %}
