{% extends 'site/base.html.twig' %}

{% block title %}Log In - RankedChoice{% endblock %}

{% block body %}
    <div class="page-content pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-details page-login mt-4">
                        <h1 class="h3 mb-3 font-weight-normal title-gradient-1">
                            Please Sign In
                        </h1>
                        <form method="post" id="form">

                            <div class="form-group">
                                <label for="inputEmail">Username or email address *</label>
                                <input type="email" value="{{ last_username }}" class="form-control" id="inputEmail" name="email" required autofocus>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword">Password *</label>
                                <input type="password" class="form-control" id="inputPassword" name="password" required>
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="rememberMe" name="_remember_me">
                                    <label class="custom-control-label" for="rememberMe">Remember Me</label>
                                </div>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-footer-buttons">
                                <button type="submit" class="btn btn-success">
                                    <span>LOG IN</span>
                                </button>
                                <a href="{{ path('app_register') }}" class="btn btn-link btn-dark">
                                    <i class="fas fa-user"></i>
                                    <span>Create an account</span>
                                </a>
                            </div>

                            <div class="form-additional mt-2 pt-1">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <a href="#">
                                            Or reset your password
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
